/**
 * Custom VVV Dashboard Skinning
 */

.site-list .button.tiny {
	padding-top: 0.4rem;
	padding-right: 0.6rem;
	padding-bottom: 0.4rem;
	padding-left: 0.6rem;
	font-size: 0.7rem;
	margin: .3rem 0 .3rem;
}

.site-list:hover { background: #eee;}

.site-list .small-4 {
width: 30%;
}

.site-list .site-name {
	vertical-align: -webkit-baseline-middle;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #008CBA;
	background: #008CBA;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
	background: #008CBA;
}